#simscreen
{
position: relative;
left:0px;
top:0px;
height: 600px; 
width:800px;
border:solid 1px;
}

#copyright{
position: absolute;
left:50px;
top: 580px;
font-family: verdana; 
font-size:12px
}

#title{
position:relative;
left: 0px;
top: 0px;
height:40px;
font-size: 24px;
text-align:center;
background-color: black;
font-family: verdana;
color: White;
text-transform: uppercase; 
}

#title h3{
padding-top:2px;
margin:0px;}

#question-div{
	position: absolute;
	left:300px;
	top:350px;
	width:300px;
	height:120px;
	border:solid 1px gray;
	background-color: gray;
	filter: alpha(opacity=55);
	color:white;
	visibility:hidden;
}

.simsubscreen
{
position:absolute;
left: 50px;
top: 50px;
height:530px;
width:745px;

}

.incanvas
{
margin:5px 0 0 5px;
padding:0;
}
#nextButton{
    position: absolute;
    left: 750px;
    top: 530px;
cursor:pointer;
}

.steptext{
display:inline;
}
.circlebg
{
border-radius:100%;
font-size:25px;
color:#fff;
text-align:center;
background:#000
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
font-family: verdana;
font-size:14px;
 visibility: hidden;
 width: 230px;
 background-color: black;
 color: black;
 border-radius: 6px;
 padding: 10px 10px 10px 10px;
visibility: visible;

 /* Position the tooltip */
 position: absolute;
 left:200px;
 top:20px;
 z-index: 100;
}
.tooltip1 {
  position: relative;
  display: inline-block;
/*  border-bottom: 1px dotted black;
*/
}

.tooltip1 .tooltiptext1 {
  visibility: hidden;
  width: 400px;
 /*background-color: grey;*/
  color: #fff;

  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
margin-left: -70px;
margin-top: -30px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip1:hover .tooltiptext1 {

  visibility: visible;
}
@-webkit-keyframes mover{
 0%{ transform:rotate(0deg)}
 100%{ transform:rotate(-180deg)}
}
@keyframes mover{
  0%{ transform:rotate(0deg)}
  100%{ transform:rotate(-180deg)}
}
@keyframes moveb {
  from {left: 350px; top:85px;}
  to { left: 220px;top: 85px;}
  } 
@-webkit-keyframes moveb {
  from {left: 350px; top: 85px; }
  to {left: 220px; top: 85px;}
}




@-webkit-keyframes rotate{
 0%{ transform:rotate(0deg)}
 100%{ transform:rotate(720deg)}

}
@keyframes rotate{
  0%{ transform:rotate(0deg)}
  100%{ transform:rotate(720deg)}
}

@keyframes moveh {
  from {left: 350px; top: 220px;}
  to { left: 228px;top: 168px;}
  } 
@-webkit-keyframes moveh {
  from {left: 350px; top: 220px; }
  to {left: 228px; top: 168px;}
}

/*@-webkit-keyframes water-5 {
0% {-webkit-transform: translate(0, 0 );}
100% {-webkit-transform: translate(0, -250px );}
}*/

/* Standard syntax */
/*@keyframes water-5 {
    0% {transform: translate(0, 0);}
    100% {transform: translate(0, -250px);}
}*/
@-webkit-keyframes water-6 {
0% {-webkit-transform: translate(0, 0 );}
100% {-webkit-transform: translate(0, 95px );}
}

/* Standard syntax */
@keyframes water-6 {
    0% {transform: translate(0, 0);}
    100% {transform: translate(0, 95px);}
}